.HomeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.HomeDiv1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  align-self: center;
}
.HomeDiv2 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-self: center;
}
.ImageDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.InputDiv {
  padding-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.NameInput {
  height: 32px;
  text-align: center;
  border: 1px solid rgba(84, 120, 84, 0.635);
  border-radius: 2px;

}
.NameInput:focus-visible, .NameInput:focus {
  border: none;
}
.SearchButton {

}